backend/target/
backend/data/
backend/src/main/resources/static/
frontend/node_modules/
frontend/node_modules/
frontend/.angular/
frontend/dist/
pdfs/
backend.zip
fatiha-sample.json
*.log
.idea/
*.iml
